*{
	box-sizing:border-box;
}
html, body {
    margin: 0;
    padding: 0;
    background-color: #272624;
    font-family: "Inter", sans-serif;

}
.site-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
	background-color: #ffe3c8;
	max-width: 1600px;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
	border-radius: 10px;

}

header {
    height: 110px;
    display: flex;
    align-items: center;
    padding-block: 10px;
	background-color: blanchedalmond;
	border-radius: 10px;
	
	
}

header .site-logo {
    color: black;
    margin-right: auto;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 25px;
}

header a {
    text-decoration: none;
    color: #332828;
    font-weight: 600;
    padding: 5px 15px;
}
nav{
	display:flex;
	padding-right:30px;

}

a {
    text-decoration: unset;
    color: unset;
}
body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}


/*Home*/


/*** HOME PAGE ***/
.home-container {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46));
	
	background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 590px;
	width:100%;
	
	
	
    color: rgb(255, 255, 255);
    padding: 45px 23px;
}
.home-container h1 {
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 42px;
}

.home-container p {
    line-height: 24px;
}

.home-container a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    background-color: #ff8c38;
    border: none;
    width: 100%;
    margin-top: 27px;
    padding-block: 0.75rem;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}

.home-container a:hover {
    transform: translate(1px, 1px);
}



/*Home*/

/*Footer*/

.footer{

	background-color: #070707;
	display: flex;
	font-size: 14px;
	padding: 25px;
	flex-direction: row;
	margin-top: auto;
	
	
	
	

}
li {
	color:white
}



/*Footer*/


/*About page*/

.about-page-container{
	
	max-width: 100%;
	text-align: center;
	

}

.about-image{
	max-width: 60%;
	max-height: 60%;

}
.about-page-content h1{
	line-height: 38px;
}
.about-page-content-p{
	line-height: 22px;
}



/* Missing person page */


.missingP-list{
	display:flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 100px;
	column-gap: 10px;
}
.missingP-tile{
	width:250px;
	border-radius: 8px;
	overflow:hidden;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.4);
	margin:10px;
	display: flex;
	flex-direction:column ;
	align-items: center;
}
.missingP-tile img{
	height:250px;
	width: 100%;
	object-fit: cover;

}

.missingP-info{
	display: flex;
	flex-direction: column;
	margin-top: auto;
	padding:10px;
	text-align: center;

}
.missingP-info h3{
	margin-top: auto;
	font-size: 14px;
}






/** missing person details page */

.warningMessage{
	font-size: 18px;
	font-weight: bold;
	color: red;

}

.missingP-details-container{
	margin-top: auto;
	margin-bottom: auto;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width:80%;
	border-width: 1px;
	border-color: #009879;
	border-style: dashed;
	
	

}




.imgdetails{
	
	text-align: center;

}
.imgdetails img{
	width: 300px;
	height: 300px;
	margin:0 auto;
	object-fit: cover;
	box-shadow: 2px 2px 4px rgba(0.2,0.2,0.2,0.2);
	margin-left: auto;
	margin-right: auto;
	border-radius: 2px;
}
.missingP-details h2{
	font-size:1.2rem;
	margin-bottom:10px;
	

}
.missingP-details p{
	padding: 30px;
	
	font-size:15px;
	
	
}

.detailsLayout{

	display:flex;
	margin-bottom:30px;
	justify-content:center;
	padding-top: 60px;
	box-shadow: 2px 2px 4px rgba(0.2,0.2,0.2,0.2);
	
	
}
.detailsLayout a{
	text-decoration: none;
	font-weight: 500;
	margin-right: 20px;
	margin-right: 40px;
	
}
.detailsLayout a:hover{
	text-decoration: underline;
	font-weight: 600;

}



.physTraits{

	margin-top: auto;
	margin-bottom: auto;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width:80%;
	border-width: 2px;
	border-style: dotted;
	border-color: #009879;

}
.physTraits img{
	width:20%;	
	height: 20%;
	margin:0 auto;
	padding-bottom: 10px;

}

.info{
	text-align: left;
	width:80%;
	margin:0 auto;
	font-size:0.9em;
	font-weight: bold;
	font-family: 'Lucida Sans';
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-color:black;
	border-bottom-width: 0.5px;
	border-bottom-style: solid;

	border-width: 1px;
	border-color: #070707;
	border-style: dotted;

}




.physTraitsTable{


	border-collapse:collapse;
	font-size:0.9em;
	width:80%;
	margin:0 auto;
	
	
	
	

}
.physTraitsTable thead tr{
	background-color: #009879;
	color:#ffffff;
	text-align: center;
	font-weight: bold;
}
.physTraitsTable th,
.physTraitsTable td{
	padding:12px 15px;

}
.physTraitsTable tbody tr{
	border-bottom:1px solid  rgb(255, 255, 255);
	background-color: #ffffff;

}
.physTraitsTable tbody tr:nth-of-type(even){
	background-color: #d8d8d8;

	

}
.physTraitsTable tbody tr:hover{
	background-color: #bbbbbb;
}




.physTraitsTable tbody tr:last-of-type{
	border-bottom:2px solid #009879;
	
}

.submitTip{
	text-align: left;
	width:80%;
	margin:0 auto;
	font-size:0.9em;
	font-weight: bold;
	font-family: 'Lucida Sans';
	padding-bottom: 10px;
	padding-top: 10px;


}
